*{
    margin: 0;
    padding: 0;
    font-size: 13px;
}
body,html{
    height: 100%;
    width: 100%; 
    background-color: #EEEEEE;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.navbar::after{
    content: "";
    display: table;
    clear:both;
}
.carousel-indicators{
    z-index: 1;
}
.nav-link{
    color: #F5F5F7;
    margin: 0;
}
.search-bar{
    width: 200px;
    transition: all 0.2s;
}
input[name="search"]:focus{
    color: #000000 !important;
}
.bg-black{
    background-color: #000000;
}
.txh{
    width: fit-content;
    color: #FF7700;
    text-shadow: 0 0 3px #ff9e49;
    font-family: 'Josefin Sans', sans-serif;
}
.btn-cus{
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 45px;
  margin: 0;
  outline: none;
  overflow: visible;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  word-break: keep-all;
  z-index: 0;
}
.shadow-card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;      
}
.dropdown-toggle::after{
    display: none;
}
.btn-cus:before,
.btn-cus:after {
  border-radius: 80px;
}
.btn-cus:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}
.btn-cus:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}
.btn-cus:hover:after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}
.btn-cus:active:after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}
.btn-outline-orange{
    --bs-btn-color: #FF7700;
    --bs-btn-border-color: #FF7700;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FF7700;
    --bs-btn-hover-border-color: #FF7700;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FF7700;
    --bs-btn-active-border-color: #FF7700;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FF7700;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #FF7700;
    --bs-gradient: none;
}
.bg-orange, .btn-orange{
    --bs-bg-opacity: 1;
    background-color: #FF7700 !important;
    color: #fff !important;
    transition: all 0.2s;
}
.btn-orange:hover{
    background-color: #FF7700 !important;
    opacity: 0.8;
    font-size: 1.2em;
}
.btn-orange:hover{
    background-color: #FF7700 !important;
    opacity: 0.7;
}
.text-bg-orange{
    background-color: #FF7700 !important;
}
.nav-link{
    text-align: center;
}
.nav-link:focus{
    color: #fff;
    background-color: #212529 ;
}
.btnCtl{
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.btnCtl > button{
    background: none;
    border: 0;
}
.sign-in, .sign-up{
    cursor: pointer;
}
.sign-out{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.sign-bg{
    position: relative;
    height: 50%;
    width: 100%;
    display: grid;
    place-items: center;
}
.sign-circle1{
    position: absolute;
    top:0;
    height: 400px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    clip-path: circle(20% at 25% 30%);
}
.sign-circle2{
    position: absolute;
    z-index: 0;
    bottom: 1px;
    height: 800px;
    background: linear-gradient(#e91e63, #2196f3);
    clip-path: circle(20% at 70% 65%);
}
.signin-card{
    z-index: 1;
    box-shadow: 20px 20px 50px rgba(0 , 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    overflow: hidden;
}
.col-form-control{
    display: inline-block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cart_table{
    margin-top: 20px;
}
.cart_table tr, th{
    width: 100%;
}
.cart_table tr th:first-child{
    width: 10%;
}
.policy{
    margin-top: 130px;
}
.detailsmATC{
    width: 120px;
}
#search-list{
    padding-left: 10px;
    width: 88% !important;
    border-radius: 0 0 10px 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.h-card .img-card-link{
    height: 70%;
}
.card-product{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
}
#top-5{
    position: absolute;
    inset: 0 auto auto 0;
    width: 30%;
    height: 50px;
    background-color: #f93a13;
    transform:translate(-29.3%) rotate(-30deg);
    clip-path: inset(0 -100%);
}
.policy-link:hover{
    color: #FF731D !important;
    font-size: 14px;
}
.deli-cart{
    padding: 100px 20px;
}
.form-contact input[type="text"],textarea{
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
#ft-display{
    background-color: #ffffff;
}
#dt-describe{
    font-family: 'Times New Roman', Times, serif;
}
#getDatenLoca{
    animation: scrolling 23s infinite linear;
}
@keyframes scrolling {
    from {
        transform: translateX(101%);
    }
    to {
        transform: translateX(-1110px);
    }
}
@media screen  and (min-width:400px) and (max-width: 767px){
    /* For smartphone */
    .filter{
        font-size: 13px !important;
        height: fit-content;
    }
    .img_hov2{
        width: 7rem !important;
     }
     .sec2{
        height: 400px;
     }
     .h-card{
        width: 10rem;
        margin: 0 10px;
        height:250px;
    }
    .txh{
        margin-top: 10px;
    }
    .h-card .img-card-link{
        max-height: 125px;
    }
    .h-card .card-body{
        padding: 5px 10px;
    }
    .h-card .card-title, .card-text, span,.h-todetail{
        margin-bottom: 2px;
        font-size: 12px !important;
    }
    #top-5{
        height: 40px ;    
    }
    #top-5 p{
        font-size: 12px;
    }
    #top-price{
        font-size: 12px !important;
    }
    #top-link{
        font-size: 12px !important;
    }
    #top-title{
        font-size: 18px !important;
    }
    #cout{
        right: 0;
        font-size: 10px;
        padding: 0 4px;
    }
    .news{
        height: 300px;
        padding: 10px 5px;
        overflow: hidden;
    }
    .news div p{
        font-size: 12px!important;
    }
    .news div a{
        font-size: 14px!important;
        padding: 20px 0;
    }
    .news::after{
        content: "";
        display: table;
        clear: both;
    }
    .news img{
        height: 250px;border-radius: 30px !important;
    }
    #slideImg{
        padding:0; 
        height:200px;
        width: 250px;
    }
    .dt-contain{
        margin-top: 140px;
    }
    .quant p,input{
        font-size: 12px !important;
    }
    #dt-atc, .dt-buy-now{
        font-size: 12px !important;
    }
    .comment p{
        font-size: 12px;
    }
    .comment i{
        font-size: 1.5rem !important;
        margin-left: 20px;
    }
    .comment .fa-star{
        font-size: 11px !important;
    }
    .rand-product .card{
        width: 12rem !important;
        margin: 0 12px;
    }
    .ab_brand{
        right: 5%; top:15%;width: 250px;height: 250px;z-index: 0;
    }
    .ab_apple{
        right: 43%; top:20%;width: 100px;height: auto; 
    }
    .ab_huawei{
        right: 45%; top:35%;width: 100px;height: auto; 
    }
    .ab_samsung{
        right: 23%; top:46%;width: auto;height: 100px; 
    }
    .ab_oppo{
        right: 8%; top:52%;width: 150px;height: auto; z-index: 0;
    }
    .ab_xiaomi{
        right: 0; top:45%;width: 80px;height: auto;
    }
    .ab-div{
        bottom: 5%; left: 10%; max-height: 300px;z-index: 3;overflow: scroll;width: 500px;box-shadow: rgba(255, 119, 0, 0.4) -5px 5px, rgba(255, 119, 0, 0.3) -10px 10px, rgba(255, 119, 0, 0.2) -15px 15px, rgba(255, 119, 0, 0.1) -20px 20px, rgba(255, 119, 0, 0.05) -25px 25px;
    }
    .about_us{
        top: 30%; left: 15%;font-weight: 900;
    }
    .nav-link{
        font-size: 14px !important;
    }
    .map-contact{
        height: 1000px;
    }
    #map{
        height: 500px;
        z-index: 0;
        top: 100px;
    }
    .contact-info{
        top: 200px;
        left: 10px;
        width: 250px;
    }
    .form-contact{
        position: relative !important;
    }
    .form-contact label{
        font-size: 12px;
    }
    .form-contact textarea{
        height: 120px;
    }
    /* List item */
    .card-product{
        width: 13rem;
    }
    .card-product img{
        height: 180px;
    }
    .lst-btn-sm{
        font-size: 11px;
        margin: 2px;
        padding: 0 2px;
    }
    .list_option{
        margin-top: 70px !important;
    }
    #list_product{
        margin-top: 20px;
    }
    .sign-list{
        display: none;
    }
    .signin-card{
        margin-top: 100px;
        height: 500px;
        width: 100%;
    }   
    .signin-card form label, p{
        font-size: 12px;
    }
    #tit{
        font-size: 2.4rem;
        margin: 20px 0;
    }
    .sign-out{
        height: 1000px;
    }
    .mailnphone p,a{
        font-size: 10px;
    }
    footer p,.policy-link, input[type="text"],label{
        height: 30px;
        font-size: 10px !important;
    }
    footer .h4{
        font-size: 14px !important;
    }
    footer #send{
        height: 30px;
    }
    footer i{
        font-size: 1.3rem;
    }
    #getDatenLoca{
        font-size: 12px !important;
    }
    .navbar-brand img{
        height: 40px;
    }
    .blog-list-con{
        margin-top: 80px;
    }
    .blog-list{
        border-bottom: 1px solid #333;
        font-family: 'Lora', serif;
    }
    .blog-list div{
        height: 150px;
        overflow: hidden;
        text-overflow:ellipsis; 
    }
    .blog-list::after {
        content: "";
        clear: both;
        display: table;
    }
    .blog-side{
        margin-top: 100px;
        font-family: 'Times New Roman', Times, serif
    }
    .deli{
        margin-top: 60px;
    }
    .deli-sec{
        height: 750px;
    }
    #sec3{
        padding-top: 100px;
    }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
    /*For Table*/
    .bsx{
    top:60px
    }
    #cartpop{
        position:absolute;
        width: 400px;
        max-height: 500px;
        right: 0;
        font-family: 'Josefin Sans', sans-serif; 
        font-size: 15px;
    } 
    .mailnphone{
        width: 40% !important;
    }
    #cout{
        font-size: 12px; 
        padding: 0 4px;
        top: 0;
        right: 0;
    }
    .cart-btn{
        height: 30px;
    }
    .cart-btn button{
        width: 100px;
        font-size: 15px;
    }
    .sec{
        height: 600px !important;
        /* padding-bottom: 20px; */
    }
    .list_option{
        margin-top: 10px !important;
    }
    .img_hov2{
       width: 8rem;
    }
    .h-card{
        width: 12rem;
        margin: 0 10px;
        height:250px;
    }
    .txh{
        margin-top: 10px;
    }
    .h-card .img-card-link{
        max-height: 125px;
    }
    .h-card .card-body{
        padding: 5px 10px;
    }
    .h-card .card-title, .card-text, span,.h-todetail{
        margin-bottom: 2px;
        font-size: 12px !important;
    }
    .b-btn{
        font-size: 1.5rem !important;
    }
    #top-5{
        height: 40px ;    
    }
    #top-5 p{
        font-size: 1.2rem;
    }
    #top-price{
        font-size: 1.2rem !important;
    }
    #top-link{
        font-size: 1.2rem !important;
    }
    #top-title{
        font-size: 1.6rem !important;
    }
    .dt-nav{
        font-size: 14px !important;
    }
    .dt-ram label, .dt-color label{
        font-size: 10px !important;
    }
    .extra ul li{
        font-size: 10px;
    }
    .comment p{
        font-size: 12px;
    }
    .comment i{
        font-size: 1.5rem !important;
        margin-left: 20px;
    }
    .comment .fa-star{
        font-size: 11px !important;
    }
    .rand-product .card{
        width: 12rem !important;
        margin: 0 12px;
    }
    .inven, .inven span{
        font-size: 12px !important;
    }
    .quant p,input{
        font-size: 12px !important;
    }
    #dt-atc, .dt-buy-now{
        font-size: 12px !important;
    }
    .home-btn-size{
        width: 80px;
        font-size: 12px !important;
    }
    .news{
        height: 300px;
        padding: 10px 5px;
        overflow: hidden;
    }
    .news div p{
        font-size: 12px!important;
    }
    .news div a{
        font-size: 14px!important;
        padding: 20px 0;
    }
    .news::after{
        content: "";
        display: table;
        clear: both;
    }
    .news img{
        height: 250px;border-radius: 30px !important;
    }
    .card-active{
        position:absolute;
        left:-40px;
        top:40px;
        width: 250px;
        transition: 0.3s;
        z-index: 3;
    }
    #product_list{
        position: absolute;
        right: 28%;
        width: 170px;
    }
    #slideImg{
        padding:0; 
        height:200px;
        width: 250px;
    }
    .form #form2{
        width: 480px !important;
    }
    .form-contact label {
        font-size: 12px;
    }
    .form-contact textarea{
        height: 150px;
    }
    .sign-logo{
        display: block;
    }
    .sortfilter{
        font-size: 1.3rem;
        font-weight: 500;
    }
    label[for="filter"]{
        font-size: 0.86rem;
    }
    /* List Item */
    .card-product{
        width: 14rem;
    }
    .card-product img{
        height: 190px;
    }
    .lst-btn-sm{
        font-size: 11px;
        margin: 2px;
        padding: 0 2px;
    }
    .inffo{
        height: 450px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        width: 300px;
    }
    .detailsm{
        width: 250px !important;
    }
    .phone-color label{
        width: 90px;
    }
    .phone-gb label{
        width: 70px;
    }
    .detailsm-img{
        object-fit:contain !important;
    }
    .signin-card{
        margin-top: 120px;
        height: 500px;
    }
    .detaillg,.feature,#productList{
        padding-top: 110px !important;
    }
    
    .img-compar{
        height: 100px;
        max-width: 100px;
    }
    #tit{
        font-family: 'Josefin Sans', sans-serif; 
        font-size: 2.5rem; 
    }
    #form1 label, #form2 label{
        font-size: 12px;
    }
    .input-group-text i{
        font-size: 15px;
    }
    .ab_brand{
        right: 5%; top:15%;width: 250px;height: 250px;z-index: 0;
    }
    .ab_apple{
        right: 36%; top:20%;width: 100px;height: auto; 
    }
    .ab_huawei{
        right: 37%; top:35%;width: 100px;height: auto; 
    }
    .ab_samsung{
        right: 23%; top:46%;width: auto;height: 100px; 
    }
    .ab_oppo{
        right: 2%; top:55%;width: 150px;height: auto; z-index: 0;
    }
    .ab_xiaomi{
        right: 0; top:42%;width: 80px;height: auto;
    }
    .ab-div{
        bottom: 5%; left: 10%; max-height: 300px;z-index: 3;overflow: scroll;width: 500px;box-shadow: rgba(255, 119, 0, 0.4) -5px 5px, rgba(255, 119, 0, 0.3) -10px 10px, rgba(255, 119, 0, 0.2) -15px 15px, rgba(255, 119, 0, 0.1) -20px 20px, rgba(255, 119, 0, 0.05) -25px 25px;
    }
    .about_us{
        top: 30%; left: 20%;font-weight: 900;
    }
    #map { 
        height: 700px;
        z-index: 0;
    }
    .form-contact{
        top:20%; left: 5%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        --bs-bg-opacity:0.9;
        width: 500px;
        font-family: 'Lora', serif;
    }
    .contact-info{
        font-family: 'Lora', serif;
        width: 250px;
        bottom: 0;
        right: 0;
        --bs-bg-opacity:0.9;
    }
    footer i{
        font-size: 2rem;
    }
    .blog-list{
        border-bottom: 1px solid #333;
        font-family: 'Lora', serif;
    }
    .blog-list div{
        height: 140px;
        overflow: hidden;
        text-overflow:ellipsis; 
    }
    .blog-list::after {
        content: "";
        clear: both;
        display: table;
    }
    .blog-side{
        margin-top: 130px;
        font-family: 'Times New Roman', Times, serif;
        text-indent: 50px
    }
}
@media screen and (min-width: 1024px) {
    /* For Desktop */
    .nav-link{
        font-size: 16px !important;
    }
    .content-head{
        padding-top: 50px;
    }
    #slideImg{
        padding:30px; 
        height:400px;
    }
    #carouselHome{
        width: 1200px;
        height: 700px;
    }
    #cartpop{
        position:absolute;
        width: 500px;
        right: 0px;
        max-height: 500px;
        font-family: 'Josefin Sans', sans-serif;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    #cartpop div table tr th{
        font-size: 15px;
    }
    #cartpop div::-webkit-scrollbar{
        display: none;
    }
    .b-btn{
        font-size: 1.8rem;
    }
    #banner{
        z-index: 0;height: 600px;background-color: #F4F4F4
    }
    .dt-contain{
        margin-top: 140px !important;
    }
    .deli{
        margin-top: 80px;
    }
    #cout{
        font-size: 12px; 
        padding: 0 5px;
        top: 0;
        right: 0;
    }
    .cart-btn{
        height: 40px;
    }
    .cart-btn button{
        width: 100px;
        font-size: 17px;
    }
    .img_search{
        width: 20px ;
    }
    .bsx{
    top:45px;
    }
    .sqa{
        padding: 0 300px !important;
    }
    #banner{
        margin: 0 5%;
    }
    .sec{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .sec .container{
        height: 800px;
    }
    .btnCtl{
        justify-content: space-between;
    }
    #product_list{
        position: absolute;
        right: 41.5%;
        width: 215px;
    }
    .rand-product .card-product img{
        height: 200px;
    }
    .signin-card{
        margin-top: 100px;
    }
    .change1{
        margin-left: 100px;
    }
    .sign-logo{
        display: none !important;
    }
    .sortfilter{
        font-size: 1.6rem;
        font-weight: 500;
    }
    .h-card{
        width: 14rem;
        height:380px;
    }
    .home-btn-size{
        width: 100px;
    }
    .news{
        height: 300px;
        overflow: hidden;
    }
    .news div p{
        font-size: 12px!important;
    }
    .news div a{
        font-size: 14px!important;
        padding: 20px 0;
    }
    .news::after{
        content: "";
        display: table;
        clear: both;
    }
    .news img{
        height: 250px;border-radius: 30px !important;
    }
    #tit{
        font-family: 'Josefin Sans', sans-serif; 
        font-size: 2.5rem; 
    }
    .card-active{
        position:absolute;
        width: 300px;
        left: -40px;
        top: 20px;
        z-index: 1;
        transition: 0.3s;
    }
    .img_hov2{
        width: 8rem;
    }
    /* List Item */
    .card-product{
        width: 14rem;
    }
    .card-product img{
        height: 190px;
    }
    .list_option{
        margin-top: 100px !important;
    }
    .lst-btn-sm{
        font-size: 11px;
        margin: 2px;
        padding: 0 2px;
    }
    .inffo{
        height: 400px !important;
    }
    .detailsm-img{
        object-fit: cover;
    }
    .phone-gb,.phone-color{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #send i{
        font-size: 15px;
    }
    .phone-start{
        text-align: center;
    }
    .dt-img-list img{
        width: 140px;
    }
    #dt-img-lg{
        width:450px;
    }   
    /* compar table */
    .name-phones th{
        height: 150px;
    }
    /* Contact Us */
    .ab_brand{
        right: 8%; top:17%;width: 250px;height: 250px;
    }
    .ab_apple{
        right: 27%; top:15%;width: 100px;height: auto; 
    }
    .ab_huawei{
        right: 32%; top:28%;width: 100px;height: auto; 
    }
    .ab_samsung{
        right: 13%; top:52%;width: auto;height: 100px; 
    }
    .ab_oppo{
        right: 24%; top:48%;width: 150px;height:auto;
    }
    .ab_xiaomi{
        right: 5%; top:45%;width: 80px;height: auto;
    }
    .ab-div{
        bottom: 5%; left: 10%; height: fit-content;line-height: 2; width: 50%;box-shadow: rgba(255, 119, 0, 0.4) -5px 5px, rgba(255, 119, 0, 0.3) -10px 10px, rgba(255, 119, 0, 0.2) -15px 15px, rgba(255, 119, 0, 0.1) -20px 20px, rgba(255, 119, 0, 0.05) -25px 25px;
    }
    .about_us{
        top: 150px; left: 30%;font-weight: 900; 
    }
    #map { 
        margin-top: 100px;
        height: 700px;
        z-index: 0;
    }
    .form-contact{
        top:150px; left: 10%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        --bs-bg-opacity:0.9;
        width: 500px;
        font-family: 'Lora', serif;
    }
    .contact-info{
        font-family: 'Lora', serif;
        width: 350px;
        bottom: 50px;
        right: 100px;
        --bs-bg-opacity:0.9;
    }
    footer i{
        font-size: 1.8rem;
    }
    .blog-list-con{
        margin-top: 130px;
    }
    .blog-list{
        border-bottom: 1px solid #333;
        font-family: 'Lora', serif;
    }
    .blog-list div{
        height: 140px;
        overflow: hidden;
        text-overflow:ellipsis; 
    }
    .blog-list::after {
        content: "";
        clear: both;
        display: table;
    }
    .blog-side{
        margin-top: 150px;
        font-family: 'Times New Roman', Times, serif;

    }
}